/*
  All Credits to: Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
  padding:0;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* STYLING STARTS HERE  */

:root {
  --bg-main: #F4EBD0;
  --bg-secondary: #E8D8B5;

  --container-bg: #7A8450;
  --container-border: #5C6332;

  --card-bg: #EFE1C6;
  --card-border: #8B6B4A;
  --card-shadow: #B89B72;

  --text-title: #3E2F26;
  --text-body: #5B4636;
  --text-light: #F8F3E8;

  --btn-add-bg: #5F6F52;
  --btn-add-hover: #4B5A3F;

  --btn-remove-bg: #7B3F3F;
  --btn-remove-hover: #5E2E2E;

  --accent-gold: #C2A878;
  --accent-blue: #6E7F80;
  --accent-copper: #A26749;
}

body{
  background-color: var(--bg-main);
}

.main{
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}
.books-container{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
  align-content: start;
  gap: 8px;
  padding:12px;
  margin: 24px;

  background-color: var(--container-bg);
  border: var(--container-border) 2px solid;
  border-radius: 12px;
}


.card{
  display: grid;
  grid-template-rows: subgrid;
  gap:0;
  grid-row: span 4;


  background-color: var(--card-bg);
  color: var(--text-body);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  padding: 12px 8px;
  box-shadow: 0px 2px 3px 2px var(--card-shadow) ;
}

.card > h2{
  color: var(--text-title);
}

.card > .removeBtn{
  color: var(--text-light);
  background-color: var(--btn-remove-bg);
  border: none;
  border-radius: 8px;
  padding: 3px;

}

.card > .removeBtn:hover{
  background-color: var(--btn-remove-hover);
}

button{
  cursor: pointer;
}


.sidebar{
  background-color: var(--bg-secondary);
  padding: 12px;
}

.sidebar h1{
  text-align: center;
  color:var(--text-title);
}

.sidebar > form{
  display: grid;
  grid-template-rows:repeat(auto-fit, 1fr);

  font-size: 18px;
  color: var(--text-title);

}
.sidebar > form >  input[type="text"]{
  margin-bottom: 12px;
  padding:3px 8px;

  background-color: #D3C09C;
  border:1px solid var(--card-border);
  border-radius: 3px;
  outline: none;
  color: var(--text-body);
}
li{
  list-style: none;
  display: inline;
  margin-right: 8px;
}

form > button{
  margin-top: 12px;;
  background-color: var(--btn-add-bg);
  color: var(--text-light);
  border: none;
  border-radius: 6px;
  padding: 12px;
}

