/*
  All Credits to: Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* STYLING STARTS HERE  */

:root {
  --bg-main: #F4EBD0;
  --bg-secondary: #E8D8B5;

  --container-bg: #7A8450;
  --container-border: #5C6332;

  --card-bg: #EFE1C6;
  --card-border: #8B6B4A;
  --card-shadow: #B89B72;

  --text-title: #3E2F26;
  --text-body: #5B4636;
  --text-light: #F8F3E8;

  --btn-add-bg: #5F6F52;
  --btn-add-hover: #4B5A3F;

  --btn-remove-bg: #7B3F3F;
  --btn-remove-hover: #5E2E2E;

  --accent-gold: #C2A878;
  --accent-blue: #6E7F80;
  --accent-copper: #A26749;
}
.card{
  display: grid;
  grid-template-rows: 2fr repeat(3, 1fr);

  background-color: var(--card-bg);
  color: var(--text-body);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  padding: 12px 8px;
}

.card > h2{
  color: var(--text-title);
}